*.suo
*.user
*.sln.docstates
/.vs

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

*.psess
*.vsp
*.vspx

/Harjoitustyo1_pre-alpha/bin
/Harjoitustyo1_pre-alpha/obj
*.docx